.wrapper{
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB)
}
.card__content {
    background: rgb(162, 164, 221);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;

}

.mainInfo{
    display: flex;
    justify-content: space-evenly;
}

.stockInfo{
    color: #6f6c6c;
    display: flex;
    justify-content: space-evenly;
    border: 4px dotted rgba(138, 130, 162, 0.5);
}

.tagalike{
    display: flex;
    justify-content: space-evenly;
}
.capacity{
    display: flex;
    flex-direction: column;
}
.capacity p{
    margin-bottom: 10px;
}
.descriptionNumbers{
    display: flex;
    justify-content: space-evenly;
}
.salesInformation{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.reviews{
    border: #888888 solid 1px;
}