div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: yellow;
    padding: 10px;
}
p{
    border: black solid 1px;
}
body{
    background: cornflowerblue;
}