.div{
    border: 1px solid black;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
    cursor: text;
    user-select: text;
    border-radius: 4px;
    margin-bottom: 10px;
}