.commentCard:hover {
    background: #b9b8b8;
    transition: background-color 0.5s
}


.commentCard {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.5s

}

.commentHeader {
    display: flex;
    flex-direction: column;
}

.commentEmail{
    font-size: 12px;
    color: gray;
}

.commentBody{
    margin: 10px 0;
}

.commentFooter{
    display: flex;
    gap: 12px;
    font-size: 12px;
    color: #666;
}
