body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.idDiv{
    color: #888888;
    display: flex;
    justify-content: space-between;
}

.PostContainer{
    width: auto;
    background-color: #eae4e4;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
}
.PostContainer:hover{
    box-shadow: 0 8px 16px 0 rgba(120, 120, 120, 0.2);
}

.footerCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
